body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, '微软雅黑', Arial, sans-serif;
}
button {
  outline-style: none;
}
.con-box {
  width: 367px;
  height: 367px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -183.5px 0 0 -183.5px;
}
.con-box img {
  width: 367px;
  height: 300px;
  vertical-align: middle;
}
.con-box .come-btn {
  width: 90%;
  display: block;
  margin: auto;
  height: 40px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #2da1fb;
  font-size: 16px;
  line-height: 40px;
  color: #2da1fb;
  background-color: #fff;
  margin-top: 25px;
}
.con-box .come-btn:hover {
  background-color: #2da1fb;
  color: #fff;
  cursor: pointer;
  border: none;
}
.con-fail {
  position: absolute;
  top: 38%;
  left: 50%;
  width: 416px;
  height: 416px;
  margin: -208px 0 0 -208px;
  margin-bottom: 20px;
}
.con-fail img {
  width: 367px;
  height: 283px;
  vertical-align: middle;
  margin: auto;
  display: block;
}
.con-fail p {
  font-size: 1.5em;
  color: #a0a0a0;
  line-height: 24px;
  margin: 0;
  margin-top: 18px;
  text-align: center;
}
.con-fail .come-btn {
  width: 90%;
  display: block;
  margin: auto;
  height: 40px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #2da1fb;
  font-size: 16px;
  line-height: 40px;
  color: #2da1fb;
  background-color: #fff;
  margin-top: 25px;
}
.con-fail .come-btn:hover {
  background-color: #2da1fb;
  color: #fff;
  cursor: pointer;
}
.text-con {
  background-color: #f6f6f6;
  height: 136px;
  border-top: 1px solid #c7c7c7;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-left: 45px;
}
.text-con p {
  font-size: 16px;
  color: #222;
  line-height: 1.43;
  margin-bottom: 10px;
}
.text-con ul {
  padding-left: 2em;
}
.text-con ul li {
  font-size: 14px;
  color: #777;
  line-height: 1.5em;
}
